$hover-color: #0d680dd4;


.tabs-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.tabs{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
    padding: 10px 60px;
    cursor: pointer;
    opacity: 0.6;
    background: white;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

.tabs:hover{
   background-color: $hover-color;
   color: white;

}

.active-tab{
    border-bottom: 2px solid black;
    opacity: 1;
}

@media (max-width: 430px) {
    .tabs {
        width: 8rem;
    }

    
  }