.content-container{
    display: grid;
    place-content: center;
}

.hero-container{
    margin: 2rem 0;
    border: solid red 3px;
    display: grid;
    gap: 0.7rem;
    max-width: 55rem;
    place-items: center;
    padding: 1rem;
}

p{
    text-align: center;
    line-height: 1.4;
    font-size: 1.05rem;
}